<div class="header">
  <div class="content">
    <a class="logo-wrapper" href="http://loveyourbigdog.com"><img class="logo" src="<%= asset_path("refer/logo.png") %>"></a>
  </div>
</div>

<div class="comic">
  <img src="<%= asset_path("home/dog_on_lap_comic.jpg") %>">
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
