<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>Love Your Big Dog &ndash; Tell Friends, Treats &amp; Toys for Free</title>
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="og:url" content="http://ref.loveyourbigdog.com">
  <meta name="og:title" content="Join Our Newsletter - Your dog will thank you!">
  <meta name="og:description" content="When you join our newsletter, you'll receive everything from training guides to funny dog stories. Ohh, and you'll have lots of chances to win free treats and toys for your pup ;)">
  <meta name="og:image" content="http://ref.loveyourbigdog.com<%= asset_path("home/dog_on_lap_comic.jpg") %>">
  <meta name="og:type" content="article">

  <script src='https://www.google.com/recaptcha/api.js'></script>

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:300,400,700|Handlee" rel="stylesheet">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <!-- Facebook Pixel Code -->
  <script>
    var params;
    <% if !@user.new_record? %>
      params = { 'em': '<%= @user.email %>' };
    <% end %>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '327777587588900', params);
    fbq('track', 'PageView');
    <% if params[:controller] == "users" and params[:action] == "refer" %>
      fbq('track', 'Lead');
    <% end %>
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=327777587588900&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
</head>
<body id="<%= @bodyId %>">

<%= yield %>


</body>
</html>
